<!DOCTYPE html>
<html lang="en-GH" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }} | FlashNews</title>
    {{partial "head.html" .}} {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }} {{ end }} {{ $alpine := resources.Get
    "js/alpine.js" | minify | fingerprint }}
    <script
      src="{{ $alpine.RelPermalink }}"
      defer
      integrity="{{ $alpine.Data.Integrity }}"
    ></script>
  </head>
  <body
    class="text-text-body antialiased selection:bg-brand selection:text-white"
  >
    {{ partial "nav.html" . }}

    <main>{{ block "main" . }}{{ end }}</main>


    {{/* Search Modal Partial */}}
{{ partial "search-modal.html" . }}
    {{/* Cookie consent partial */}}
    {{ partial "cookie-consent.html" . }}

    
  </body>
</html>
