<meta charset="utf-8" />
<title>{{ .Site.Title }}</title>
{{ partial "css.html" . }}
{{ partial "schema.html" . }}
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta name="author" content="{{ .Site.Title }}">

    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary }}{{ end }}">

    {{ $ogImage := "" }}
    
    {{/* 1. Cerchiamo l'immagine nella cartella del post */}}
    {{ $imgResource := .Resources.GetMatch "*{jpg,jpeg,png,webp}" }}
    
    {{ with $imgResource }}
        {{/* Creiamo una versione ottimizzata per i social (1200x630 è lo standard Facebook) */}}
        {{ $socialImg := .Fill "1200x630 center" }}
        {{ $ogImage = $socialImg.Permalink }}
    {{ end }}

    {{ if ne $ogImage "" }}
        <meta property="og:image" content="{{ $ogImage }}">
        <meta name="twitter:image" content="{{ $ogImage }}">
    {{ end }}


    {{ $siteDesc := "" }}

    {{/* Caso 1: Siamo in un articolo singolo? Usa il sommario dell'articolo */}}
    {{ if .IsPage }}
        {{ $siteDesc = .Summary }}

    {{/* Caso 2: Siamo in Home Page? */}}
    {{ else }}
        
        {{/* C'è una descrizione manuale nel config? */}}
        {{ if .Site.Params.description }}
            {{ $siteDesc = .Site.Params.description }}
        
        {{/* Altrimenti, costryiscila dinamicamente usando la città */}}
        {{ else }}
            {{/* printf ci permette di inserire variabili dentro una frase standard */}}
            {{ $siteDesc = printf "Ultime notizie, politica e aggiornamenti sportivi da %s, %s. Leggi le news locali di %s su %s." .Site.Params.city .Site.Params.country .Site.Params.region .Site.Title }}
        {{ end }}

    {{ end }}

    <meta name="description" content="{{ $siteDesc }}">
    
    <meta property="og:description" content="{{ $siteDesc }}">
    <meta name="twitter:description" content="{{ $siteDesc }}">